.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--black);
  color: var(--white);
  font-family: 'Arial', sans-serif;
}

.main-content {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}